<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningProject"
        tools:targetApi="31">
        <activity
            android:name=".UserDetailFromAPIActivity"
            android:exported="false" />
        <activity
            android:name=".UserListActivity"
            android:exported="false" />
        <activity
            android:name=".WebServicesExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".RetrofitWithInjectionActivity"
            android:exported="false" />
        <activity
            android:name=".RetrofitPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".OkhttpPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".JsonParsingActivity"
            android:exported="false" />
        <activity
            android:name=".HTTPURLConnectionHome"
            android:exported="false" />
        <activity
            android:name=".WebServicesPracticeHome"
            android:exported="false" />
        <activity
            android:name=".WebViewExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ScrollViewAndNestedScrollExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".SearchAndHorizontalScrollExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".SearchViewActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".NestedScrollViewPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".DecidingFirstActivity"
            android:exported="false" />
        <activity
            android:name=".CoffeeDetailActivity"
            android:exported="false"
            android:parentActivityName=".CoffeeListActivity" />
        <activity
            android:name=".CoffeeListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".CoffeeLandingActivity"
            android:exported="false" />
        <activity
            android:name=".LocalBroadcastActivity"
            android:exported="false" />
        <activity
            android:name=".ServicesHomeActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivityFromFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".InterFragCommUsingVMActivity"
            android:exported="false" />
        <activity
            android:name=".InterFragmentCommunicationActivity"
            android:exported="false" />
        <activity
            android:name=".FlexibleUIActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentTransactionsHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ImplicitIntentsHomeActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ComputeFullNameActivity"
            android:exported="true">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntentForResultActivity"
            android:exported="false" />
        <activity
            android:name=".LifecycleObservationActivity"
            android:exported="false" />
        <activity
            android:name=".ExpandableListViewExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNavigationExercise"
            android:exported="false" />
        <activity
            android:name=".ViewPagerWithTabExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewItemDecorationGridExercise"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ListRecyclerExerciseHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewExercise"
            android:exported="false" />
        <activity
            android:name=".BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPagerRecyclerAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPagerTabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPagerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".DiffUtilsPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".RecycledViewPoolActivity"
            android:exported="false" />
        <activity
            android:name=".ExpandableRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".ExpandableListViewActivity"
            android:exported="false" />
        <activity
            android:name=".ChatRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".WidgetsExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".DataBindingPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutExerciseSignupActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutExerciseHome"
            android:exported="false" />
        <activity
            android:name=".LayoutExerciseLoginActivity"
            android:exported="false" />
        <activity
            android:name=".StateListDrawableActivity"
            android:exported="false" />
        <activity
            android:name=".TabbarLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationComponentActivity"
            android:exported="false" />
        <activity
            android:name=".AppBarCustomizationActivity"
            android:exported="false" />
        <activity
            android:name=".ConstraintChainAndGroupActivity"
            android:exported="false" />
        <activity
            android:name=".CircularConstraintActivity"
            android:exported="false" />
        <activity
            android:name=".FrameLayoutPractice"
            android:exported="false" />
        <activity
            android:name=".AppBarLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".AbsoluteLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutsHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".CustomToastActivity"
            android:exported="false" />
        <activity
            android:name=".EditTextTypesActivity"
            android:exported="false" />
        <activity
            android:name=".MaterialViewsActivity"
            android:exported="false" />
        <activity
            android:name=".TextViews"
            android:exported="false" />
        <activity
            android:name=".CustomSnackBarActivity"
            android:exported="false" />
        <activity
            android:name=".WidgetsHomeActivity"
            android:exported="false" />
        <activity
            android:name=".WidgetsOneActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.learningproject.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".BackgroundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>